* {
  box-sizing: border-box;
}

body {
    background-color: pink;
    text-align: center;
    /* overflow: hidden; */
}

.wrapper {
  height: 98vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

canvas {
  /* background-color: orange; */
  z-index: 0;
}

.board {
  margin-bottom: -2em;
  width: 909px;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.board > div {
  background-color: white;
  width: 120px;
  padding: 0.8em;
  margin: 0 0 0 1em;
}
