* {
  box-sizing: border-box;
}

body {
    background-color: pink;
    text-align: center;
    overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: orange;
}
