* {
  box-sizing: border-box;
}

body {
    background-color: pink;
    text-align: center;
    /* overflow: hidden; */
}

.wrapper {
  position: relative;
  height: 98vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

canvas {
  /* background-color: orange; */
  z-index: 0;
}

.board {
  margin-bottom: -2em;
  width: 909px;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.board > div {
  background-color: white;
  width: 120px;
  padding: 0.8em;
  margin: 0 0 0 1em;
}

.start-menu {
  position: absolute;
  width: 500px;
  height: 300px;
  background-color: pink;
  z-index: 3;
}

.start-menu > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.char {
  position: relative;
  z-index: 100;
}

.selector {
  position: absolute;
  top: 0;
  z-index: 5;
}

.gameover-modal {
  display: none;
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: white;
  z-index: 2;
}
